@import "/home/nxco/.cache/wal/colors-waybar.css";
@import "/home/nxco/.cache/wal/waybar.css";

* {
  font-family: "Space Mono";
  font-size: 13px;
  font-weight: 600;
}

button,
label {
  /* margin-bottom: 5px; */
  border-radius: 5px;
  transition: 0.3s;
  border: none;
}

window#waybar {
  border-radius: 8px;
  background-color: transparent;
  color: @foreground;
}

#clock,
#window,
#workspaces,
.modules-right {
  background-color: @tackground;
  padding: 0 5px;
  border-radius: 5px;
}

#workspaces button {
  margin: 0;
  padding: 0 5px;
  border-radius: 0;
  color: @foreground;
  border-left: 1px solid @color8;
}

#workspaces button:first-child {
  border-left: none;
}

#workspaces button label {
  margin: 0;
  font-size: 16px;
}

#workspaces button:hover,
label:hover {
  background-color: @color4;
}


/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/* #workspaces button:hover {
  background-color: @color2;
  box-shadow: inset 0 -3px @foreground;
} */

#workspaces button.active {
  color: @color2;
  /* box-shadow: inset 0 -3px @foreground; */
}

#workspaces button.urgent {
  background-color: @color3;
}

#clock,
#window,
#tray,
#pulseaudio,
#backlight,
#battery,
#network,
#mode,
#idle_inhibitor {
  padding: 0 8px;
  color: @foreground;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
/* .modules-left>widget:first-child>#workspaces {
  margin-left: 0;
} */

/* If workspaces is the rightmost module, omit right margin */
/* .modules-right>widget:last-child>#workspaces {
  margin-right: 0;
} */

#clock {
  padding: 0 20px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -1px;
}

#clock:hover {
  padding: 0 30px;
}

#battery {}

#battery.charging,
#battery.plugged {
  color: @color3;
}

@keyframes blink {
  to {
    background-color: @color1;
    color: @background;
  }
}

#battery.critical:not(.charging) {
  animation: blink 0.7s infinite alternate;
}

#network.disconnected {
  background-color: @color1;
}

#tray {
  padding-right: 3px;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @color1;
}

window#waybar.empty #window {
  background-color: transparent;
}