window {
  margin: 5px;
  background-color: --wofi-color0;
  border-radius: 10px;
}

#input {
  margin: 5px;
  border: none;
  background-color: --wofi-color1;
}

#inner-box {
  margin: 5px;
  border-radius: 10px;
  background-color: --wofi-color0;
}

#scroll {
  margin: 5px;
  margin-bottom: 0;
}

#entry:selected {
  border-radius: 10px;
  background-color: --wofi-color3;
}

#text {
  margin: 5px;
  color: --wofi-color7;
}
